/* Navbar */
.navpart {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

/* logo style */
.logo a {
  display: block;
  width: 118px;
  height: 64px;
}
.logo img {
  width: 100%;
  height: auto;
}
.staysExperience {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.staysExperience button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: #6a6a6a;
  padding: 10px 12px;
  border-radius: 3rem;
  font-family: "Airbnb Cereal VF";
}
.staysExperience button.Active {
  color: #0b0707;
  font-weight: 500;
  font-family: "Airbnb Cereal VF";
}
.staysExperience button.Active:hover {
  color: #0b0707;
  font-weight: 500;
  font-family: "Airbnb Cereal VF";
  background-color: transparent;
}

.staysExperience button:hover {
  background-color: #f7f7f7;
  cursor: pointer;
  color: #222;
  font-family: "Airbnb Cereal VF";
}
/*humberger menu and profile menu*/
.hamburg-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.home a {
  padding: 1rem;
  text-decoration: none;
  font-size: 14px;
  color: #222;
  border-radius: 2rem;
  font-family: "Airbnb Cereal VF";
}

.home a:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.global {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 8px;
  width: 42px;
  height: 42px;
}

.global .global-a {
  width: 16px;
  height: 16px;
}
.global:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

/* Drop Down style */
.drop-parent {
  position: relative;
}

.menu {
  border: 1px solid #dddddd;
  border-radius: 25px;
  padding: 8px 8px 8px 14px;
  background-color: #fff;
  justify-content: center;
  gap: 10px;
}
.drop-dowoncontent {
  cursor: pointer;
  position: absolute;
  background-color: #fff;
  min-width: 240px;
  top: 50%;
  border-radius: 12px;
  padding: 8px 0px;
  right: 0;
  z-index: 2;
  margin-top: 34px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
  padding: 8px 0;
  display: inline-flex;
  flex-direction: column;
}
.drop-dowoncontent .dropdown-line {
  background: #dddddd;
  margin: 8px 0;
  height: 1px;
}
.drop-dowoncontent a {
  text-decoration: none;
  padding: 12px 16px;
  color: #222222;
  line-height: 1.125rem;
  background: transparent;
}
.drop-dowoncontent .signup {
  font-weight: 500;
}
.drop-dowoncontent a:hover:not(:active) {
  background-color: #f7f7f7;
}

.menu {
  border: 1px solid #dddddd;
  border-radius: 25px;
  padding: 8px 8px 8px 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.menu:hover {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.04),
    0px 2px 4px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.img-menu {
  width: 16px;
  height: 16px;
}

.img-profile {
  width: 30px;
  height: 30px;
}
